:root {
    --index: calc(1vw + 1vh);
    --text: #ffffff;
    --transition: transform .75s cubic-bezier(.075, 0.5, 0, 1);
}

@font-face {
    font-family: raleway-r;
    src: url('../fonts/raleway-regular.woff2');
}

@font-face {
    font-family: raleway-b;
    src: url('../fonts/raleway-black.woff2');
    font-weight: 900;
}

body {
    font-family: raleway-r, sans-serif;
    line-height: 1.5;
    background-color: #000000;
}

.wrapper {
    height: 100%;
    position: relative;
}

.content {
    will-change: transform;
    position: relative;
    width: 100%;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

// HEADER
.header {
    position: fixed;
    top: 0;
    z-index: 12;
    left: 0;
    right: 0;
    width: 100%;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        color: #FFFFFF;
    }

    .menu {
        flex-grow: 1;
    }

    .menu__list {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        margin-right: 20px;

        &-link {
            color: #FFFFFF;
            padding-bottom: 2px;
        }
    }

    .logo {
        color: #ffffff;
        font-size: calc(var(--index) * 1.2);
        font-weight: 900;
    }

    &__btn {
        padding: 7px 20px;
        color: #FFFFFF;
        border-radius: 5px;
        border: 1px solid #FFFFFF;
        transition: all .3s;

        &:hover {
            background-color: #FFFFFF;
            color: #000000;
        }
    }
}

.burger {
    display: none;
}

// TOP
.top {
    transform-style: preserve-3d;
    position: relative;
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

}

.gradient {
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 5px, transparent, transparent, transparent);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    pointer-events: none;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
    transition: var(--transition);
}

.layers-1 {
    transform: translate3d(0, calc(var(--scrollTop) / 1.5), 0);
    z-index: 0;
    pointer-events: none;
}

.layers-2 {
    transform: translate3d(0, calc(var(--scrollTop) / 1.4), 0);
    pointer-events: none;
}

.layers-3 {
    transform: translate3d(0, calc(var(--scrollTop) / 1.7), 0);
    pointer-events: none;
}

.layers-4 {
    transform: translate3d(0, calc(var(--scrollTop) / 2.2), 0);
    pointer-events: none;
}

.layers-5 {
    transform: translate3d(0, calc(var(--scrollTop) / 2.1), 0);
    pointer-events: none;
}

.layers-6 {
    transform: translate3d(0, calc(var(--scrollTop) / 4), 0);
    pointer-events: none;
}

.layers-7 {
    transform: translate3d(0, calc(var(--scrollTop) / 10), 0);
    pointer-events: none;
}

.layers__header {
    z-index: 2;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: var(--text);
    text-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 5px #fff,
        0 0 11px rgb(241, 68, 120),
        0 0 20px rgb(241, 68, 120),
        0 0 30px rgb(241, 68, 120),
        0 0 55px rgb(241, 68, 120),
        0 0 80px rgb(241, 68, 120);
    align-self: center;
    margin-top: calc(var(--index) * 3);
    transition: var(--transition);
}

.layers__title {
    font-size: calc(var(--index) * 1.3);
    letter-spacing: calc(var(--index) / 2.26);
}

.layers__text {
    font-size: calc(var(--index) * 2.7);
    letter-spacing: calc(var(--index) / 3.5);

}

// PRODUCT
.product {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 1px, transparent, transparent, transparent), linear-gradient(to top, rgba(0, 0, 0, 1) 1px, transparent, transparent, transparent), url('../images/product.png');
    background-position: center;

    min-height: 100vh;
    background-size: cover;
    color: var(--text);
    overflow: hidden;
    position: relative;

    &__inner {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translate3d(0, calc(var(--scrollTop) / 3), 0) translateX(-50%);
        transition: var(--transition);
        z-index: 10;
        will-change: transform;
    }

    &__title {
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: calc(var(--index) * 2);
        letter-spacing: calc(var(--index) / 5);
        font-weight: 600;

    }

    &__paragraph {
        font-weight: 400;
        text-align: center;
        font-size: calc(var(--index) * .9);
        max-width: calc(var(--index) * 30);
        letter-spacing: 2px;
    }

    &__img {
        width: calc(var(--index) * 6);
    }
}

.overlay {
    background-color: rgb(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 5;
    pointer-events: none;
}

// FEEDBACK
.feedback {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 5px, transparent, transparent, transparent), linear-gradient(to top, rgba(0, 0, 0, 0.9) 1px, transparent, transparent, transparent), url('../images/1675521400_foni-club-p-fon-krasivii-na-rabochii-stol-4k-42.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    input {
        background-color: #ffffff;
    }

    &__inner {
        position: relative;
        width: calc(var(--index) * 17);
        height: calc(var(--index) * 18);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 2px solid rgb(255, 255, 255, 0.2);
        border-radius: 20px;
        backdrop-filter: blur(15px);
        transform: translate3d(0, calc(var(--scrollTop) / 7), 0);
        will-change: transform;
    }

    &__form {
        &-title {
            font-size: calc(var(--index) * 1.5);
            font-weight: 700;
            color: #ffffff;
            text-align: center;
            margin-bottom: calc(var(--index) * 1);
            line-height: calc(var(--index) * 1.5);
        }

        &-inputbox {
            position: relative;
            margin-bottom: calc(var(--index) * 1.5);
            width: calc(var(--index) * 13.5);
            border-bottom: 2px solid #ffffff;

            label {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translateY(-50%);
                color: #FFFFFF;
                font-size: calc(var(--index) * 0.7);
                pointer-events: none;
                transition: all .5s;
            }

            input {
                width: 100%;
                height: 40px;
                background-color: transparent;
                font-size: calc(var(--index) * 0.7);
                padding: 0 35px 0 5px;
                color: #FFFFFF;

                &:focus~label,
                &:valid~label {
                    top: -5px;
                }
            }

            ion-icon {
                position: absolute;
                right: 8px;
                color: #FFFFFF;
                font-size: 1.2em;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &-checkbox {
            margin: -15px 0 15px;
            display: block;
            color: #ffffff;
            font-size: calc(var(--index) * 0.6);

            input {
                margin-right: 5px;
            }
        }

        &-btn {
            width: 100%;
            height: calc(var(--index) * 2);
            border-radius: 40px;
            background-color: #ffffff;
            font-size: calc(var(--index) * 0.7);
            font-weight: 600;

        }
    }
}

// FOOTER
.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;

    &__inner {
        display: flex;
        justify-content: space-between;
        color: #FFFFFF;
    }

    &__politica {
        color: #FFFFFF;
        font-size: calc(var(--index) * 0.6);
    }

    &__icon {
        display: flex;
        gap: 10px;
        font-size: 20px;

        &-link {
            color: #ffffff;
        }
    }
}

@media(max-width: 600px) {
    .feedback__form-inputbox {
        margin-bottom: 10px;

        input {
            height: 30px;
        }
    }

    .feedback__form-checkbox {
        margin: 0px 0 10px;
    }

    .feedback__inner {
        height: 300px;
    }

    .header .logo {
        font-size: 20px;
    }
}

@media(max-width: 500px) {
    .burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        transition: all .3s;
        z-index: 5;

        &--active {
            .lines {
                transition: all .3s;

                &:nth-child(2) {
                    left: auto;
                    right: -100%;
                    opacity: 0;
                }

                &:nth-child(1) {
                    transform: translateY(-50%) rotate(45deg);
                    top: 50%;
                }

                &:nth-child(3) {
                    transform: translateY(-50%) rotate(-45deg);

                    top: 50%;
                }
            }
        }
    }

    .lines {
        height: 2px;
        width: 100%;
        background-color: #ffffff;
        border-radius: 1px;
        position: absolute;
        transition: all .3s;
        left: 0;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            right: 0;
            left: 0;
            top: 50%;
            transform: translateY(-40%);
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }

    .menu {
        position: absolute;
        left: -100%;
        top: 0;
        color: #000000;
        padding-top: 60px;
        padding-bottom: 20px;
        transition: all .5s;
        background-color: rgb(102, 101, 101, .5);
        width: 150px;
        border-radius: 0 20px 20px 20px;
        backdrop-filter: blur(10px);
        border-right: 2px solid rgb(255, 255, 255, 0.3);
        border-bottom: 2px solid rgb(255, 255, 255, 0.3);

        &__list {
            flex-direction: column;
            padding-left: 15px;

        }

        &--active {
            left: 0;
        }
    }

    .header .menu__list-link {
        color: #ffffff;
    }

    .header {
        &__inner {
            padding: 10px 0;
        }
    }


    .header__btn {
        padding: 5px 13px;
        font-size: 14px;
    }

    .footer__copy {
        font-size: 12px;
    }

    .footer__icon {
        font-size: 14px;
    }

    .feedback__inner {
        width: 70%;
        margin: 0 auto;
        height: 300px;
    }

    .container {
        min-width: 100%;
    }

    .feedback__form {
        width: 100%;
        text-align: center;
    }

    .feedback__form-inputbox {
        width: 80%;
        margin: 0 auto 20px;
    }

    .feedback__form-checkbox {
        width: 80%;
        margin: 0 auto 10px;
        text-align: left;
        display: flex;
        align-items: center;
        font-size: 8px;
    }

    .feedback__form-btn {
        width: 80%;
        justify-self: center;
    }
    .feedback__form-title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .feedback__form-inputbox label {
        font-size: 9px;
    }
    .feedback__form-inputbox ion-icon {
        font-size: .8em;
    }
    .feedback__form-inputbox input{
        height: 20px;
        font-size: 10px;
    }
}